<h1>Get some bad news</h1>

<% @countries.each do |country_name| %>
  <hr />
  In <%= country_name %>:<br />
  Send "<%= @payment_details[country_name][:keyword] %>" to short number "<%= @payment_details[country_name][:shortcode] %>"
  <table>
    <tr>
      <% @promotional_texts[country_name].each do |lang, text| %>
        <td><%= raw text.gsub(/\n/, '<br />') %></td>
      <% end %>
    </tr>
  </table>
<% end %>

<hr />
