<h1>Today's Bad News</h1>

<table class="table table-condensed">
  <thead>
    <tr><th>
      Wellcome, <%= current_user.name %>. <br />
    </tr></th>
  <thead>
  <tbody>
    <% if @news.empty? %>
      <tr><td>
        Good! We don't have any news for you. <a href="/"><span class="glyphicon glyphicon-euro"></span> Buy some</a>
      </td></tr>
    <% else %>
      <% @news.each do |news| %>
        <tr><td>
          <%= news.body %>
        </td></tr>
      <% end %>
    <% end %>
  </tbody>
</table>
